Problem Statement 1

Samantha has created a dataset named 'top50spotify.csv' of her top 50 songs from spotify.

In [13]:
import pandas as pd
Data=pd.read_csv("/content/top50spotify(1).csv")
Data=Data.drop(Data.columns[0],axis=1)
Data.to_csv('Songs.csv')
Data=pd.read_csv("/content/Songs.csv")

Display the first five row from the datasets

In [ ]:
Data.head(5)

Find the average Energy and Length of first 10 songs.

In [ ]:
First_10=Data.head(10)
print("Average Engergy of the first 10 song",First_10["Energy"].mean())
print("Average Length of the first 10 song",First_10["Length."].mean())

Find the total length of songs, group by genre from top to bottom.

In [ ]:
Data.groupby('Genre')['Length.'].sum().sort_values(ascending=False)

Print the artist name with the most number of tracks in one genre.

In [ ]:
keys=['Genre','Artist','No_Tracks']
Top=pd.DataFrame(columns=keys)
i=0
for val1,val2 in Data.groupby(['Genre','Artist.Name']):
    Top.loc[i]=[val1[0],val1[1],val2['Track.Name'].count()]
    i=i+1

Top[Top.No_Tracks==Top.No_Tracks.max()]

Print the data of the tracks created by the artist from the previous question.

In [ ]:
Data[Data['Artist.Name']=='Ed Sheeran']

Problem Statement 2

Write a Python program to perform the following tasks-

Create a pandas series from below dictionary where indices are subjects:

{'English':{'Sam':60,'Jackson':74,'Ahree':85}, 
'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61},
'Geography':{'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'Ahree':76},
'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85,'Gray':95},
'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87}
 }

In [ ]:
Data1={'English':{'Sam':60,'Jackson':74,'Ahree':85}, 
'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61},
'Geography':{'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'Ahree':76},
'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85,'Gray':95},
'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87}
 }
Data1=pd.DataFrame(Data1)
Data1

Convert the created series into DataFrame and replace the null values with zeroes.

In [34]:
Data1=Data1.fillna(0)

Transpose the DataFrame

In [ ]:
Data1.transpose()

create a new column 'Average' and fill the values in it by calculating the average of all subjects.

In [ ]:
Data1['Average']=Data1[['English','History','Geography','Mathematics','Science']].mean(axis=1)
Data1

Problem Statement 3
Task to be performed:

Write a Python program to create a series from 1 to 1000 and select only numbers divisible by 7 and 17.

In [ ]:
Data2=pd.Series(range(1,1001))
print(Data2)
Result=Data2[(Data2%7==0) & (Data2%17==0)]
print(Result)

Problem Statement 4

Sylphia has a dataset of various cereals sold in the supermarket.
Dataset Description:

cereal.csv - The dataset contains 16 features. Here's a brief description of 3 columns in the dataset:

    name - Brand name of the cereals
    MFR - Manufacturer of the brands
    rating - Rating of the cereals

Syliphia wants to visualize the quality of cereals and determine which manufacturer delivers the best quality.
Tasks to be performed:

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
Cereal_Data=pd.read_csv("/content/cereal.csv")
plt.barh(list(set(Cereal_Data.mfr)),Cereal_Data.groupby('mfr').rating.mean())
plt.show()

Use xticks range form 0-100.

In [ ]:
plt.xticks(np.arange(0,101,10))
plt.show()


Change style of the graph to seaborn.

In [ ]:
plt.style.use('seaborn')
plt.barh(list(set(Cereal_Data.mfr)),Cereal_Data.groupby('mfr').rating.mean())
plt.show()